@charset "UTF-8";
body {
  background-color: blue;
}
h1 {
<<<<<<< HEAD
<<<<<<< HEAD
  color: orange;
}
h4 {
  color: blue;
=======
  color: #fff;
>>>>>>> 3c473aef3fc3720cbad6e6104202a3faeb2f5cd6
=======
>>>>>>> 66de78338361e7f2926b6c13de6ff211c3de5def
}